# This is a template .gitignore file for git-managed WordPress projects.
#
# Fact: I don't want WordPress core files, or my/your server-specific
# configuration files etc., in our project's repository. We just don't.
#
# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/

# Ignore everything in the "wp-content" directory, except the
# "themes" directories.
wp-content/*
!wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/*
# !wp-content/plugins/my-single-file-plugin.php
# !wp-content/plugins/my-directory-plugin/

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
wp-content/themes/*
!wp-content/themes/find-consultant-child/

# Ignore certain files in theme folder
wp-content/themes/find-consultant-child/assets/
wp-content/themes/find-consultant-child/images/
wp-content\themes\find-consultant-child/users.txt