.general-button-div{ 
  text-align: center; margin: 3rem 0 6rem 0;
}

.general-button-div a{ border: 1px solid #00c0f3; color: #222; font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif; padding: 5px 53px; transition: all 0.6s ease; }

.general-button-div a:hover{background: #00c0f3; border: 1px solid #0aa2cb; color: #FFF; 
	text-decoration: none;}



